### Pandas Assignment

### Question 1
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
### creating
import pandas as pd

df = pd.Series([4, 8, 15, 16, 23, 42])
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
type(df)

pandas.core.series.Series

### Question 2
CQ2.reate a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [4]:
var1 = [x for x in range(10)]
var1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
type(var1)

list

In [6]:
df_pad = pd.Series(var1)
df_pad

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [7]:
type(df_pad)

pandas.core.series.Series

### Question 3
Q3. Create a Pandas DataFrame that contains the following data:

Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

In [14]:
dic = {"Name":["Alice", "Bob", "Claire"], "Age":[25, 30, 27], "Gender":["Female", "Male", "Female"]}
df = pd.DataFrame(dic)
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [15]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Question 4
What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.


The DataFrame consists of Index objects for the axes labels (row and column labels) and Series objects for the column data.

The Series object provides encapsulation for each of the column data (which is held in a one dimensional numpy.ndarray), with row labels and the column label.
Below is a dataframe


##

In [16]:
## This is a dataframe and each of the column is as series
import pandas as pd

data = {'name': ['John', 'Jane', 'Bob', 'Alice'], 
        'age': [32, 28, 45, 37], 
        'gender': ['Male', 'Female', 'Male', 'Female'], 
        'department': ['IT', 'HR', 'Sales', 'IT'], 
        'salary': [60000, 50000, 70000, 65000]}

df = pd.DataFrame(data)
print(df)

    name  age  gender department  salary
0   John   32    Male         IT   60000
1   Jane   28  Female         HR   50000
2    Bob   45    Male      Sales   70000
3  Alice   37  Female         IT   65000

In [17]:
type(df)

pandas.core.frame.DataFrame

In [23]:
### picking out one of the cell and print out the data type to show its series
name = df["name"]
print(name)

0     John
1     Jane
2      Bob
3    Alice
Name: name, dtype: object

In [24]:
type(name)

pandas.core.series.Series

### Question 5 
What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Below are commong fuctions that can be used to maniputlate data in Pandas DataFrame:
1. head() and tail()
2. describe()
3. sort_values()
4. groupby()
5. drop()
6. apply()

Below are the simple usage of one of the function with the existing dataframe above,
I will order the dataframe base on age!!

In [25]:
### ordering the dateframe by age!!!
import pandas as pd

data = {'name': ['John', 'Jane', 'Bob', 'Alice'], 
        'age': [32, 28, 45, 37], 
        'gender': ['Male', 'Female', 'Male', 'Female'], 
        'department': ['IT', 'HR', 'Sales', 'IT'], 
        'salary': [60000, 50000, 70000, 65000]}

df = pd.DataFrame(data)
print(df)

    name  age  gender department  salary
0   John   32    Male         IT   60000
1   Jane   28  Female         HR   50000
2    Bob   45    Male      Sales   70000
3  Alice   37  Female         IT   65000

In [26]:
age_arr = df.sort_values(by='age', ascending=False)
print(age_arr)

    name  age  gender department  salary
2    Bob   45    Male      Sales   70000
3  Alice   37  Female         IT   65000
0   John   32    Male         IT   60000
1   Jane   28  Female         HR   50000

### Question 6
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Both Series and DataFrame are mutable in nature, meaning their contents can be modified after they are created.

### Question 7
Q7. Create a DataFrame using multiple Series. Explain with an example.

Below, I will be creating different three series, build dictionary and finally create data frame from the prior.

In [27]:
import pandas as pd

# create a Series for each column
names = pd.Series(['Abioye', 'Bimpe', 'Adeyemi', 'Yinka'])
ages = pd.Series([25, 30, 35, 40])
genders = pd.Series(['M', 'F', 'M', 'F'])

# create a dictionary of Series
data = {'Name': names, 'Age': ages, 'Gender': genders}

# create a DataFrame from the dictionary of Series
df = pd.DataFrame(data)

# print the DataFrame
print(df)

      Name  Age Gender
0   Abioye   25      M
1    Bimpe   30      F
2  Adeyemi   35      M
3    Yinka   40      F

##### The End ###