### Map, Reduce Filter Functions

In [ ]:
## map

In [2]:
l = [1,2,3,4,45,5]  ### this is a list considered
## task: square each of the element in the list

In [3]:
## normal method that would be considered
def test(l):
    l1 = []
    for i in l :
        l1.append(i**2)
    return l1
## why not consider doing all of this in one line!!!!!

In [5]:
test(l)

[1, 4, 9, 16, 2025, 25]

In [ ]:
map() ## it takes function and applies it to each of the element of an Iteration
## see example of it usage below

In [6]:
def sq(x):
    return x**2  ## returns this output

In [8]:
list(map(sq , l)) ## this is don within list and this is similar to what on liner we do in list
## example below

[1, 4, 9, 16, 2025, 25]

In [22]:
map(sq , l)  ## is like typecasting is a must to get output for def within map

In [10]:
lst42 = [2.5,5,6,34,53,3,24,323,53]  #### Example to explain above

In [14]:
[i**2 for i in lst42]   ## usage

[6.25, 25, 36, 1156, 2809, 9, 576, 104329, 2809]

In [16]:
list(i**2 for i in range(5))### building it within a tuple and typecasting to list

[0, 1, 4, 9, 16]

In [17]:
type(i**2 for i in range(5))   ## its actually a generator

generator

In [20]:
type((i**2 for i in range(5)))  ## it didnt change

generator

In [19]:
type([i**2 for i in lst42])

list

In [10]:
list(map(lambda x : x**2 , l ))  ## lambda function can be applied too!!

[1, 4, 9, 16, 2025, 25]

In [11]:
list(map(lambda x : x+10 , l ))

[11, 12, 13, 14, 55, 15]

In [12]:
list(map(lambda x : str(x) , l ))

['1', '2', '3', '4', '45', '5']

In [23]:
## based on the indexes do addition operation
1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]

In [24]:
list(map(lambda x,y :x+y , l1,l2))  ## here x is repping element in l1 and y l2 mapping the fucntion by iterating over all the content of list

[7, 9, 11, 13, 15]

In [25]:
f = lambda x,y :x+y   ## lambda function already defined

In [26]:
list(map(f , l1,l2))

[7, 9, 11, 13, 15]

In [27]:
s = "pwskills"

In [28]:
list(map(lambda x : x.upper()  , s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

In [32]:
from functools import  reduce  ### this function is called from a library

In [38]:
l = [1,2,3,4,5,4]

In [39]:
reduce(lambda x , y : x+y , l) ## reduce functio collapse the entire iterables
## it take the x as first and y as second element and proceeds
## 1 + 2 = 3, 3+3=6, 6+4=10, 10+5=15, 15+4=19

19

In [37]:
list(map(lambda x , y : x+y , l)) ## this won't work because I only have one list added

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [ ]:
##Compare to what mapping will do!!!

In [40]:
def add(x,y):
    return x+y

In [24]:
reduce (add , l)

19

In [41]:
reduce(lambda x , y , z : x+y+z , l)
## it will not work because reduce only take two argument because it it Iterate in a single step and does not look
#for the next until the present instance of the code is executed

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [26]:
l

[1, 2, 3, 4, 5, 4]

In [27]:
reduce(lambda x , y : x+y , [])

TypeError: reduce() of empty iterable with no initial value

In [28]:
reduce(lambda x , y : x+y , [1]) ## it is an exceptional case

1

In [29]:
reduce(lambda x , y : x*y , [1])

1

In [42]:
l   ## Look for the maximum number in the list (like max() function)

[1, 2, 3, 4, 5, 4]

In [43]:
reduce(lambda x,y : x if x> y else y , l)

5

In [32]:
l

[1, 2, 3, 4, 5, 4]

In [45]:
list(filter(lambda x : x % 2 ==0 , l)) ## used to sort base on conditions

[2, 4, 4]

In [ ]:
## if its not rapped it produce object with specification of where is is stored

In [46]:
list(filter(lambda x : x % 2 !=0 , l))  ## this means only consider and add to list 
## if remainder of the operation is not 0 (logic for odd numbers)

[1, 3, 5]

In [49]:
## lets try
list(filter(lambda x : x if x % 2 !=0 else "", l)) ## it worked also

[1, 3, 5]

In [50]:
l1 = [-2,4,5,6,-3,-6,-7]

In [51]:
list(filter(lambda x : x < 0 , l1))

[-2, -3, -6, -7]

In [52]:
list(filter(lambda x : x >= 0 , l1))

[4, 5, 6]

In [53]:
l2 = ["sudh" , "pwskills" , "kumar" , "bengalore" , "krish"]

In [54]:
list(filter(lambda x : len(x) < 6 , l2))

['sudh', 'kumar', 'krish']